{% extends 'base.html' %}

{% block page_title %}
    Anakart
{% endblock %}

{% block content %}
<h1>anakart sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for anakart in anakartlar %}
    
        <div class="card" style="width: 18rem; float: left; margin: 2%;">
            <img src={{ anakart.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
            <div class="card-body">
                <h5 class="card-title">{{ anakart.price }} TL</h5>
                <p class="card-text">{{ anakart.name }}</p>
                <ul>
                        
                    <li>{{ anakart.MotherboardFeature.processor_Socket_Type}}</li>
                    <li>{{ anakart.MotherboardFeature.ram_Type}}</li>
                    <li>{{ anakart.MotherboardFeature.compatible_Processors}}</li>
                    <li>{{ anakart.MotherboardFeature.motherboard_Size}}</li>
                    
                
                </ul>
                <a href="#" class="btn btn-primary">Ekle</a>
            </div>
            
        </div>
    {% endfor %}
</div>
{% endblock %}
