{% extends 'base.html' %}

{% block page_title %}
    Bilgisayar Kasaları
{% endblock %}

{% block content %}
<h1>kasalar sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for bilgisayar_kasasi in bilgisayar_kasalari %}
        
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ bilgisayar_kasasi.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ bilgisayar_kasasi.price }} TL</h5>
                    <p class="card-text">{{ bilgisayar_kasasi.name }}</p>
                    <ul>
                        
                        <li>{{ bilgisayar_kasasi.ComputerCaseFeature.case_Type}}</li>
                        <li>{{ bilgisayar_kasasi.ComputerCaseFeature.PSU}}</li>
                        <li>{{ bilgisayar_kasasi.ComputerCaseFeature.PSU_Location}}</li>
                        <li>{{ bilgisayar_kasasi.ComputerCaseFeature.transparent_Case}}</li>
                        <li>{{ bilgisayar_kasasi.ComputerCaseFeature.type_C}}</li>
                        
                    
                    </ul>
                    <a href="#" class="btn btn-primary">Ekle</a>
                </div>
                
            </div>
    {% endfor %}
    </div>
{% endblock %}
