{% extends 'base.html' %}

{% block page_title %}
    Ekran Kartı
{% endblock %}

{% block content %}
<h1>ekran kartı sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for ekran_karti in ekran_kartlari %}
        
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ ekran_karti.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ ekran_karti.price }} TL</h5>
                    <p class="card-text">{{ ekran_karti.name }}</p>
                    <ul>
                        
                        <li>{{ ekran_karti.GraphicsCardFeature.gpu_Manufacturer}}</li>
                        <li>{{ ekran_karti.GraphicsCardFeature.gpu_Model}}</li>
                        <li>{{ ekran_karti.GraphicsCardFeature.memory_Type}}</li>
                        <li>{{ ekran_karti.GraphicsCardFeature.gpu_Memory_Capacity}}</li>

                    </ul>
                    <a href="#" class="btn btn-primary">Ekle</a>
                </div>
                
            </div>
    {% endfor %}
    </div>
{% endblock %}

