{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for product in products %}
        
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ product.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ product.price }} TL</h5>
                    <p class="card-text">{{ product.name }}</p>
                    <ul>
                        {% if product.category_id == 1 %}
                    
                        
                            <li>{{ product.ProcessorFeature.processor_Model}}</li>
                            <li>{{ product.ProcessorFeature.processor_Manufacturer}}</li>
                            <li>{{ product.ProcessorFeature.processor_Socket_Type}}</li>
                            <li>{{ product.ProcessorFeature.processor_Series}}</li>
                            <li>{{ product.ProcessorFeature.core_Count}}</li>

                        {% endif %}
                    </ul>
                    <a href="#" class="btn btn-primary">Ekle</a>
                </div>
                
            </div>
    {% endfor %}
</div>
{% endblock %}
