{% extends 'base.html' %}

{% block page_title %}
    İşlemci
{% endblock %}

{% block content %}
<h1>işlemci sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for islemci in islemciler %}
        
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ islemci.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ islemci.price }} TL</h5>
                    <p class="card-text">{{ islemci.name }}</p>
                    <ul>                        
                            <li>{{ islemci.ProcessorFeature.processor_Model}}</li>
                            <li>{{ islemci.ProcessorFeature.processor_Manufacturer}}</li>
                            <li>{{ islemci.ProcessorFeature.processor_Socket_Type}}</li>
                            <li>{{ islemci.ProcessorFeature.processor_Series}}</li>
                            <li>{{ islemci.ProcessorFeature.core_Count}}</li>                       
                    </ul>

                    <a href="#" class="btn btn-primary">Ekle</a>
                             
                </div>       
            </div>
    {% endfor %}
</div>
{% endblock %}
