{% extends 'base.html' %}

{% block page_title %}
    Kasa Fanları
{% endblock %}

{% block content %}
<h1>Kasa Fanları sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for kasa_fani in kasa_fanlari %}
    
        <div class="card" style="width: 18rem; float: left; margin: 2%;">
            <img src={{ kasa_fani.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
            <div class="card-body">
            <h5 class="card-title">{{ kasa_fani.price }} TL</h5>
            <p class="card-text">{{ kasa_fani.name }}</p>
            <ul>
                        
                <li>{{ kasa_fani.CaseFanFeature.cooling_Type}}</li>
                <li>{{ kasa_fani.CaseFanFeature.fan_Count}}</li>
                <li>{{ kasa_fani.CaseFanFeature.led_Type}}</li>
                <li>{{ kasa_fani.CaseFanFeature.power_Connector}}</li>
                <li>{{ kasa_fani.CaseFanFeature.rpm}}</li>

            </ul>
            <a href="#" class="btn btn-primary">Ekle</a>
            </div>
            
        </div>
    {% endfor %}
</div>
{% endblock %}
