{% extends 'base.html' %}

{% block page_title %}
    Klavye
{% endblock %}

{% block content %}
<h1>klavye sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for klavye in klavyeler %}
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ klavye.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ klavye.price }} TL</h5>
                    <p class="card-text">{{ klavye.name }}</p>
                    <ul>
                        
                        <li>{{ klavye.KeyboardFeature.connection_Type}}</li>
                        <li>{{ klavye.KeyboardFeature.mechanical}}</li>
                        <li>{{ klavye.KeyboardFeature.keyboard_Layout}}</li>
                        <li>{{ klavye.KeyboardFeature.wrist_Support}}</li>
                        <li>{{ klavye.KeyboardFeature.numpad}}</li>
        
                    </ul>
                    <a href="#" class="btn btn-primary">Ekle</a>
                </div>
                
            </div>
    {% endfor %}
</div>
{% endblock %}
