{% extends 'base.html' %}

{% block page_title %}
    Mouse
{% endblock %}

{% block content %}
<h1>mouse sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for mouse in mouseler %}
            <div class="card" style="width: 18rem; float: left; margin: 2%;">
                <img src={{ mouse.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ mouse.price }} TL</h5>
                    <p class="card-text">{{ mouse.name }}</p>
                    <ul>
                        
                        <li>{{ mouse.MouseFeature.connection_Type}}</li>
                        <li>{{ mouse.MouseFeature.tracking_Type}}</li>
                        <li>{{ mouse.MouseFeature.button_Count}}</li>
                        <li>{{ mouse.MouseFeature.usage_Type}}</li>
                        <li>{{ mouse.MouseFeature.max_DPI}}</li>
        
                    </ul>
                    <a href="#" class="btn btn-primary">Ekle</a>
                </div>
                
            </div>
    {% endfor %}
</div>
{% endblock %}
