{% extends 'base.html' %}
{% block page_title %}
    Termal Macun
{% endblock %}

{% block content %}
<h1>Termal Macunlar sayfası</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for termal_macun in termal_macunlar %}                  
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src={{ termal_macun.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
                        <div class="card-body">
                            <h5 class="card-title">{{ termal_macun.price }} TL</h5>
                            <p class="card-text">{{ termal_macun.name }}</p>
                            <a href="#" class="btn btn-primary">Ekle</a>
                        </div>
                        
                    </div>
                </div>
    
    {% endfor %}
</div>
{% endblock %}
